html
	head
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
		<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
	body
		.container.pt-2
			a.btn.btn-light(href="/" ) Back
			h1.pt-4 Login

			if errors
				each error in errors
					.alert.alert-danger= error

			form(action="/auth/login", method= "POST")
				.form-group
					label(for="email") Email
					input#email.form-control(name="email", type="text", value = values ? values.email : "")

				.form-group
					label(for="password") Password
					input#password.form-control(name="password", type="password", value = values ? values.password : "")
				button(class="btn btn-primary ") Login
			