extends ../layouts/common

block content
	h2 Update title
	form(action="/books/update", method="POST")
			input(type="hidden", name="id", value=id)
			.input-group.mb-3
			.d-flex
				input.form-control(type='text', placeholder='New title', aria-label='Username', aria-describedby='basic-addon1', name="title")
				button(class="btn btn-primary ml-2") Update