extends ./layouts/common

block content
	a.mr-auto(class="btn btn-primary ", href="/auth/login") Login

	blockquote.blockquote.text-center
		h1.pt-5
			| Welcome to my first product
		h2
			| --Please login to use--



