h1 List book
ul
		each book in list
			li='title: '+book.title
			a(href="/books/"+book.id+"/delete" ) Delete
			span &nbsp
			a(href="/books/"+book.id+"/update" ) Update
			

a(href="/books/add") Add more book