extends ../layouts/common

block content
	h2 Update title
	form(action="/users/update", method="POST")
		.d-flex
			input(type="hidden", name="id", value=id)
			input(type="text", name="name",class="form-control")
			button(class="btn btn-primary ml-2") Update