h3 Create transaction
form(action='', method='post')
  
  label(for='user') User-name:
  select( name='userId')
    each user in users
      option(value=user.id)= user.name

  label(for='book') Book-title:
  span &nbsp
  select(name='bookId')
    each book in books
      option(value=book.id)= book.title

  br
  button Create