h1 List trans
ul
		each trans in transactions
			li=trans.content+"--Complete ?: "+trans.isComplete
			a(href="/transactions/"+trans.id+"/complete" ) Complete
			span &nbsp
			a(href="/transactions/"+trans.id+"/delete" ) Delete


a(href='/transactions/create') Create more transaction

