extends ../layouts/common

block content
	h1 List trans
	table.table
		tr
			th Status
			th Complete
			th(colspan='2') Action
		each trans in transactions
			tr
				td= trans.content
				td= trans.isComplete
				td
					a.btn.btn-light(href="/transactions/"+trans.id+"/complete" ) Complete
				td
					a.btn.btn-light(href="/transactions/"+trans.id+"/delete" ) Delete


	a.btn.btn-light(href='/transactions/create') Create more transaction

