extends ../layouts/common

block content
	a.mb-5(class="btn btn-primary ", href='/transactions/create') Create more transaction

	h1 List trans
	table.table
		tr
			th Status
			th Complete
			th(colspan='2') Action
		each trans in transactions
			tr
				td= trans.content
				td= trans.isComplete
				td
					a.btn.btn-light(href="/transactions/"+trans.id+"/complete" ) Complete
				td
					a.btn.btn-light(href="/transactions/"+trans.id+"/delete" ) Delete
				nav(aria-label='...')
		ul.pagination
			li.page-item
				a.page-link(href='/transactions?page='+ (page-1)) Previous
			li.page-item
				a.page-link(href='/transactions?page=' + (page-1))=page-1
			li.page-item.active(aria-current='page')
				span.page-link=page
					span.sr-only (current)
			li.page-item
				a.page-link(href='/transactions?page=' + (page+1))=page+1
			li.page-item
				a.page-link(href='/transactions?page='+(page+1)) Next


	